In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load your two datasets
df_purchase = pd.read_csv("User_product_purchase_details_p2.csv")
df_user = pd.read_csv("user_demographics.csv")

In [3]:
df_purchase

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,B,1,1,20,NaN,NaN,368
550064,1006035,P00375436,C,3,0,20,NaN,NaN,371
550065,1006036,P00375436,B,4+,1,20,NaN,NaN,137
550066,1006038,P00375436,C,2,0,20,NaN,NaN,365
550067,1006039,P00371644,B,4+,1,20,NaN,NaN,490

In [4]:
df_user

      User_ID Gender    Age  Occupation
0     1000001      F   0-17          10
1     1000002      M    55+          16
2     1000003      M  26-35          15
3     1000004      M  46-50           7
4     1000005      M  26-35          20
...       ...    ...    ...         ...
5886  1004588      F  26-35           4
5887  1004871      M  18-25          12
5888  1004113      M  36-45          17
5889  1005391      M  26-35           7
5890  1001529      M  18-25           4

[5891 rows x 4 columns]

In [12]:

# Merge on User_ID
df = pd.merge(df_purchase, df_user, on="User_ID", how="left")
df

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender,Age,Occupation
0,1000001,P00069042,A,2,0,3,NaN,NaN,8370,F,0-17,10
1,1000001,P00248942,A,2,0,1,6.0,14.0,15200,F,0-17,10
2,1000001,P00087842,A,2,0,12,NaN,NaN,1422,F,0-17,10
3,1000001,P00085442,A,2,0,12,14.0,NaN,1057,F,0-17,10
4,1000002,P00285442,C,4+,0,8,NaN,NaN,7969,M,55+,16
...,...,...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,B,1,1,20,NaN,NaN,368,M,51-55,13
550064,1006035,P00375436,C,3,0,20,NaN,NaN,371,F,26-35,1
550065,1006036,P00375436,B,4+,1,20,NaN,NaN,137,F,26-35,15
550066,1006038,P00375436,C,2,0,20,NaN,NaN,365,F,55+,1
550067,1006039,P00371644,B,4+,1,20,NaN,NaN,490,F,46-50,0

In [13]:

# Create binary target
df["High_Value_Purchase"] = (df["Purchase"] >= 10000).astype(int)

df.head()

,User_ID,Product_ID,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender,Age,Occupation,High_Value_Purchase
0,1000001,P00069042,A,2,0,3,NaN,NaN,8370,F,0-17,10,0
1,1000001,P00248942,A,2,0,1,6.0,14.0,15200,F,0-17,10,1
2,1000001,P00087842,A,2,0,12,NaN,NaN,1422,F,0-17,10,0
3,1000001,P00085442,A,2,0,12,14.0,NaN,1057,F,0-17,10,0
4,1000002,P00285442,C,4+,0,8,NaN,NaN,7969,M,55+,16,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 13 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   City_Category               550068 non-null  object
 3   Stay_In_Current_City_Years  550068 non-null  object
 4   Marital_Status              550068 non-null  int64
 5   Product_Category_1          550068 non-null  int64
 6   Product_Category_2          376430 non-null  float64
 7   Product_Category_3          166821 non-null  float64
 8   Purchase                    550068 non-null  int64
 9   Gender                      550068 non-null  object
 10  Age                         550068 non-null  object
 11  Occupation                  550068 non-null  int64
 12  High_Value_Purchase         550068 non-null  int64
dtypes: float64(2), int64(6), object(5)
memory usage: 54.6+ MB

In [15]:
df.isnull().sum()

User_ID                            0
Product_ID                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
Gender                             0
Age                                0
Occupation                         0
High_Value_Purchase                0
dtype: int64

In [16]:
# importing sklearn libraries
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [17]:
# Drop columns not needed
df = df.drop(["Product_ID", "User_ID"], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   City_Category               550068 non-null  object
 1   Stay_In_Current_City_Years  550068 non-null  object
 2   Marital_Status              550068 non-null  int64
 3   Product_Category_1          550068 non-null  int64
 4   Product_Category_2          376430 non-null  float64
 5   Product_Category_3          166821 non-null  float64
 6   Purchase                    550068 non-null  int64
 7   Gender                      550068 non-null  object
 8   Age                         550068 non-null  object
 9   Occupation                  550068 non-null  int64
 10  High_Value_Purchase         550068 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 46.2+ MB

In [18]:
# Replace missing
df = df.fillna(0)

In [19]:
df.isnull().sum()

City_Category                 0
Stay_In_Current_City_Years    0
Marital_Status                0
Product_Category_1            0
Product_Category_2            0
Product_Category_3            0
Purchase                      0
Gender                        0
Age                           0
Occupation                    0
High_Value_Purchase           0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   City_Category               550068 non-null  object
 1   Stay_In_Current_City_Years  550068 non-null  object
 2   Marital_Status              550068 non-null  int64
 3   Product_Category_1          550068 non-null  int64
 4   Product_Category_2          550068 non-null  float64
 5   Product_Category_3          550068 non-null  float64
 6   Purchase                    550068 non-null  int64
 7   Gender                      550068 non-null  object
 8   Age                         550068 non-null  object
 9   Occupation                  550068 non-null  int64
 10  High_Value_Purchase         550068 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 46.2+ MB

In [21]:
# dummy for categorical
df = pd.get_dummies(df, columns=["Gender","Age","City_Category","Stay_In_Current_City_Years"], drop_first=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 20 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Marital_Status                 550068 non-null  int64
 1   Product_Category_1             550068 non-null  int64
 2   Product_Category_2             550068 non-null  float64
 3   Product_Category_3             550068 non-null  float64
 4   Purchase                       550068 non-null  int64
 5   Occupation                     550068 non-null  int64
 6   High_Value_Purchase            550068 non-null  int64
 7   Gender_M                       550068 non-null  bool
 8   Age_18-25                      550068 non-null  bool
 9   Age_26-35                      550068 non-null  bool
 10  Age_36-45                      550068 non-null  bool
 11  Age_46-50                      550068 non-null  bool
 12  Age_51-55                      550068 non-null  bool
 13  Age_55+                        550068 non-null  bool
 14  City_Category_B                550068 non-null  bool
 15  City_Category_C                550068 non-null  bool
 16  Stay_In_Current_City_Years_1   550068 non-null  bool
 17  Stay_In_Current_City_Years_2   550068 non-null  bool
 18  Stay_In_Current_City_Years_3   550068 non-null  bool
 19  Stay_In_Current_City_Years_4+  550068 non-null  bool
dtypes: bool(13), float64(2), int64(5)
memory usage: 36.2 MB

In [24]:
# Split dataset into X and y
y = df["High_Value_Purchase"]
x = df.drop(["High_Value_Purchase", "Purchase"], axis=1)

In [28]:
x.columns

Index(['Marital_Status', 'Product_Category_1', 'Product_Category_2',
       'Product_Category_3', 'Occupation', 'Gender_M', 'Age_18-25',
       'Age_26-35', 'Age_36-45', 'Age_46-50', 'Age_51-55', 'Age_55+',
       'City_Category_B', 'City_Category_C', 'Stay_In_Current_City_Years_1',
       'Stay_In_Current_City_Years_2', 'Stay_In_Current_City_Years_3',
       'Stay_In_Current_City_Years_4+'],
      dtype='object')

In [30]:
# Train-test split
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.2, random_state=42)

In [31]:
xtrain[:5]

,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Occupation,Gender_M,Age_18-25,Age_26-35,Age_36-45,Age_46-50,Age_51-55,Age_55+,City_Category_B,City_Category_C,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_4+
178247,1,1,15.0,0.0,7,True,False,False,False,False,True,False,True,False,False,False,True,False
196647,0,5,0.0,0.0,12,True,True,False,False,False,False,False,False,True,False,False,False,True
418590,0,8,14.0,17.0,5,True,False,True,False,False,False,False,True,False,True,False,False,False
408727,0,8,0.0,0.0,4,True,True,False,False,False,False,False,True,False,False,True,False,False
216416,0,1,8.0,0.0,4,True,True,False,False,False,False,False,True,False,True,False,False,False

In [32]:
# Scaling of data
scaler = StandardScaler()
xtrain_scaled = scaler.fit_transform(xtrain)
xtest_scaled = scaler.transform(xtest)

In [34]:
ytest.value_counts()

High_Value_Purchase
0    72340
1    37674
Name: count, dtype: int64

In [35]:
y.value_counts()

High_Value_Purchase
0    360529
1    189539
Name: count, dtype: int64

In [36]:
360529/(360529+189539)

0.6554262382105485

In [37]:
72340/(72340+37674)

0.6575526751140763

In [43]:
# Logistic Regression
#================
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, precision_score,recall_score

In [ ]:
lr = LogisticRegression()
model_lr = lr.fit(xtrain_scaled, ytrain)

In [40]:
pred_lr = model_lr.predict(xtest_scaled)

In [44]:

print("LR Accuracy:", accuracy_score(ytest, pred_lr))
print("\n LR Precision:", precision_score(ytest, pred_lr))
print("\n LR Recall:", recall_score(ytest, pred_lr))
print(confusion_matrix(ytest, pred_lr))
print("\nClassification Report:\n", classification_report(ytest, pred_lr))

LR Accuracy: 0.7658752522406239

 LR Precision: 0.720155181969333

 LR Recall: 0.5173594521420608
[[64766  7574]
 [18183 19491]]

Classification Report:
               precision    recall  f1-score   support

           0       0.78      0.90      0.83     72340
           1       0.72      0.52      0.60     37674

    accuracy                           0.77    110014
   macro avg       0.75      0.71      0.72    110014
weighted avg       0.76      0.77      0.75    110014

In [45]:
#MLP (Keras)
#==========
from tensorflow.keras import models, layers

model = models.Sequential([
    layers.Dense(18, activation='relu', input_shape=(xtrain_scaled.shape[1],)),
    layers.Dense(18, activation='relu'),
    layers.Dense(1, activation='sigmoid')
])

c:\Users\User\Desktop\LLM\ollama-env\Lib\site-packages\keras\src\layers\core\dense.py:95: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [ ]:

model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["precision"])

In [50]:

model.fit(xtrain_scaled, ytrain, epochs=15, batch_size=32, validation_split=0.2)

Epoch 1/15

11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - loss: 0.2661 - precision: 0.7913 - val_loss: 0.2600 - val_precision: 0.7921
Epoch 2/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 13s 1ms/step - loss: 0.2653 - precision: 0.7924 - val_loss: 0.2640 - val_precision: 0.7908
Epoch 3/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 12s 1ms/step - loss: 0.2641 - precision: 0.7922 - val_loss: 0.2590 - val_precision: 0.7951
Epoch 4/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 12s 1ms/step - loss: 0.2634 - precision: 0.7926 - val_loss: 0.2569 - val_precision: 0.7939
Epoch 5/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 13s 1ms/step - loss: 0.2624 - precision: 0.7932 - val_loss: 0.2572 - val_precision: 0.7937
Epoch 6/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - loss: 0.2620 - precision: 0.7934 - val_loss: 0.2592 - val_precision: 0.7938
Epoch 7/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 975us/step - loss: 0.2613 - precision: 0.7931 - val_loss: 0.2567 - val_precision: 0.7944
Epoch 8/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - loss: 0.2609 - precision: 0.7933 - val_loss: 0.2590 - val_precision: 0.7944
Epoch 9/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 10s 905us/step - loss: 0.2608 - precision: 0.7935 - val_loss: 0.2564 - val_precision: 0.7940
Epoch 10/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 10s 951us/step - loss: 0.2603 - precision: 0.7934 - val_loss: 0.2559 - val_precision: 0.7923
Epoch 11/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - loss: 0.2601 - precision: 0.7933 - val_loss: 0.2585 - val_precision: 0.7917
Epoch 12/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 996us/step - loss: 0.2598 - precision: 0.7934 - val_loss: 0.2548 - val_precision: 0.7940
Epoch 13/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 1ms/step - loss: 0.2594 - precision: 0.7938 - val_loss: 0.2591 - val_precision: 0.7914
Epoch 14/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 956us/step - loss: 0.2597 - precision: 0.7934 - val_loss: 0.2568 - val_precision: 0.7935
Epoch 15/15
11002/11002 ━━━━━━━━━━━━━━━━━━━━ 11s 958us/step - loss: 0.2593 - precision: 0.7931 - val_loss: 0.2530 - val_precision: 0.7940

In [51]:
pred_mlp = model.predict(xtest_scaled)

3438/3438 ━━━━━━━━━━━━━━━━━━━━ 2s 596us/step

In [52]:

loss, acc = model.evaluate(xtest_scaled, ytest)
print("MLP Accuracy:", acc)

3438/3438 ━━━━━━━━━━━━━━━━━━━━ 3s 860us/step - loss: 0.2578 - precision: 0.7867
MLP Accuracy: 0.7866693139076233

In [65]:
model.evaluate(xtest_scaled, ytest)

3438/3438 ━━━━━━━━━━━━━━━━━━━━ 3s 820us/step - loss: 0.2578 - precision: 0.7867

[0.25779658555984497, 0.7866693139076233]

In [67]:
print("MLP Precision:", acc)
print("\n LR Precision:", precision_score(ytest, pred_lr))

MLP Precision: 0.7866693139076233

 LR Precision: 0.720155181969333

In [63]:
##### EXTRAS   #######

# Decision tree classifier

from sklearn.tree import DecisionTreeClassifier, plot_tree

In [59]:
dtree = DecisionTreeClassifier()

In [60]:
model_dtree = dtree.fit(xtrain_scaled, ytrain)

In [ ]:
plt.figure()
plot_tree(model_dtree, filled=True, rounded=True, fontsize=10, feature_names=xtrain.columns)
plt.show()

In [61]:
pred_dtree = dtree.predict(xtest_scaled)

In [69]:
print("Dtree Accuracy:", accuracy_score(ytest, pred_dtree))
print("\n Dtree Precision:", precision_score(ytest, pred_dtree))
print("\n Dtree Recall:", recall_score(ytest, pred_dtree))
print(confusion_matrix(ytest, pred_dtree))
print("\nClassification Report:\n", classification_report(ytest, pred_dtree))

Dtree Accuracy: 0.8760703183231225

 Dtree Precision: 0.8180567315834039

 Dtree Recall: 0.820618994532038
[[65464  6876]
 [ 6758 30916]]

Classification Report:
               precision    recall  f1-score   support

           0       0.91      0.90      0.91     72340
           1       0.82      0.82      0.82     37674

    accuracy                           0.88    110014
   macro avg       0.86      0.86      0.86    110014
weighted avg       0.88      0.88      0.88    110014